permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Commit & push changes
        run: |
          git config --global user.name "Nabhansh Rishi Gaur"
          git config --global user.email "gamekillerr206@gmail.com"
          git add .
          git commit -m "Auto commit $(date)" || echo "No changes to commit"
          git push
